<h3> You've received a new message from: <%= mail_to @message.email, @message.name %> </h3>
<hr />
<h3> <%=@message.subject %> </h3>
<%= simple_format(@message.body) %>
<br />
<hr />
<p> Please respond to <%= @message.name %> as soon as possible. </p>