<!DOCTYPE html>
<html>
<head>
  <title>SimpleContact</title>
  <%= stylesheet_link_tag    "simple_contact/application", :media => "all" %>
  <%= javascript_include_tag "simple_contact/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
